/* ----------------------- */
/* Main styles		   */
/* ----------------------- */

.page-header
{
	background-image: url('/x2/images/site/bg1.jpg');
	background-size: cover;
}

/* ----------------------- */
/* Standard HTML tags      */
/* ----------------------- */

h1, h2, h3
{
	color: #E101EF;
}

/* ----------------------- */
/* Forum Board		  */
/* ----------------------- */

.board_table
{
	width: 100%;
	border-spacing: 0px;
	border-collapse:collapse;
}

.board_table th
{
	border-top: 2px solid #D6C2D2;
	border-bottom: 2px solid #D6C2D2;

	background-color: #EFE3EE;
}

.board_table tr.hover:hover
{
	background-color: #F8F2F2;
}

.board_table td
{
	padding: 6px;
	border-bottom:solid 1px #E6E6E6;
}

.subheader
{
	width: 98%; 
	background-color: #FFF1FE; 
	text-align: right; 
	padding: 5px 8px;
}

.minorheader
{
	width: 98%; 
	background-color: #FFFBFF; 
	text-align: right; 
	padding: 5px 8px;
}

.iframe_area
{
	border: 1px solid #EBEBEB; 
	overflow-x: hidden; 
	overflow-y: scroll; 
	padding: 8px;
}

/* ----------------------- */
/* Link styles             */
/* ----------------------- */

a:link, a:visited, a:active 
{
	font-weight: normal;
	COLOR: #2B6CFF;
	text-decoration:none;
	opacity:1.0;
	filter:alpha(opacity=100);
}

a:hover 
{
	font-weight: normal;
	color: #417BFF
	text-decoration: underline;
	opacity:0.9;
	filter:alpha(opacity=90);
}

a:link.smalllink, a:visited.smalllink, a:active.smalllink 
{
	font-weight: normal;
	font-size: 9pt;
	COLOR: #2B6CFF;
	TEXT-DECORATION: underline;
}

a:hover.smalllink 
{
	text-decoration: none;
}

a:link.colourlink, a:visited.colourlink, a:active.colourlink 
{
	font-weight: normal;
	COLOR: #E101EF;
	TEXT-DECORATION: none;
	opacity:0.8;
	filter:alpha(opacity=80);
}

a:hover.colourlink
{
	font-weight: normal;
	COLOR: #EE2DFF;
	text-decoration: underline;
	opacity:0.8;
	filter:alpha(opacity=80);
}

/* ----------------------- */
/* Buttons
/* ----------------------- */

input[type="submit"]
{
	margin: 0px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	padding: 5px 16px;

	background: -moz-linear-gradient(top, #A402B2 0%, #CE04EC);
	background: -webkit-gradient(linear, left top, left bottom, from(#A402B2),to(#CE04EC));
	background-color: #A402B2;

	border: 1px solid #ffffff;
}

input[type="submit"]:hover
{
	background: -moz-linear-gradient(top, #CB03E3 0%, #D916FC);
	background: -webkit-gradient(linear, left top, left bottom, from(#CB03E3),to(#D916FC));
	background-color: #CB03E3;
}

/* ----------------------- */

input.small_button
{


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;

	padding: 2px 10px;

	background: -moz-linear-gradient(top, #A402B2 0%, #CE04EC);
	background: -webkit-gradient(linear, left top, left bottom, from(#A402B2),to(#CE04EC));
	background-color: #A402B2;

	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ffffff;
}

input.small_button:hover
{
	background: -moz-linear-gradient(top, #CB03E3 0%, #D916FC);
	background: -webkit-gradient(linear, left top, left bottom, from(#CB03E3),to(#D916FC));
	background-color: #CB03E3;
}

/* ----------------------- */